# ============================================================
# Plik konfiguracyjny dla PEA2 – Branch & Bound (TSP/ATSP)
# ============================================================

# --- Ścieżka do pliku instancji ---

INSTANCE_PATH = C:\Users\l6808\PEA2\kod\xdataset\wygenerowane\sym\sym_06.tsp

# --- Strategia przeszukiwania drzewa B&B ---
# Dozwolone wartości:
#   DFS     – przeszukiwanie w głąb
#   BFS     – przeszukiwanie wszerz
#   BestFS  – Best-First Search

SEARCH_TYPE = BestFS

# --- Typ algorytmu Branch & Bound ---
# Dozwolone wartości:
#
#   PLAIN_UB_INF
#
#     Bez dolnego ograniczenia (LB).
#     Górne ograniczenie startowe (UB) = INT_MAX.
#
#   PLAIN_UB_RNN
#
#     Bez dolnego ograniczenia (LB).
#     Górne ograniczenie startowe (UB) = RNN
#
#   LB_UB_RNN
#     Z dolnym ograniczeniem (LB)
#     Górne ograniczenie startowe (UB) wyznaczane z RNN.

ALGORITHM_TYPE = LB_UB_RNN
